<div class="homePage">
  <h1>Welcome to Freejoas</h1>
  <div class="homePage--buttons">
    <%= link_to "Find Free Feijoas", locations_path %>
    <%= link_to "Submit Free Feijoas", new_location_path %>
  </div>
</div>
